.form {
    margin-top: 24px;
}

.form__editor {
    padding: 0;
    margin: 0;
    border: none;
    max-width: 358px;
}

.form__input {
    font-size: 14px;
    line-height: 17px;
    margin-top: 17px;
    width: 100%;
    border: none;
    outline: none;
    padding: 13px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    color: #000000;
}

.form__button {
    font-size: 18px;
    line-height: 22px;
    margin-top: 48px;
    width: 100%;
    height: 50px;
    background: #000000;
    color: #fff;
    border: none;
    border-radius: 2px;
    transition: 0.3s;
    cursor: pointer;
}

.form__button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .form {
        margin-top: 46px;
    }

    .form__editor {
        max-width: 282px;
    }

    .form__input {
        padding: 13px 0 9px;
    }

    .form__button {
        margin-top: 46px;
        font-size: 14px;
        line-height: 17px;
    }
}